---
import Layout from '../../layouts/Layout.astro';
import COLLECTIONS from '../../assets/data/products.js';

export function getStaticPaths() {
  const paths = COLLECTIONS.map((collection) => ({
    params: { name: collection.name.toLowerCase().replace(/\s+/g, '-') }
  }));
  return { paths };
}// Busca la colección correspondiente

const { name } = Astro.params;
const collection = COLLECTIONS.find((col) => col.name.toLowerCase().replace(/\s+/g, '-') === name);

if (!collection) {
  throw new Error(`Collection not found: ${name}`);
}
---

<Layout title={collection.name} description="Detalles del producto en Cream Shop">
  <main class="flex flex-col gap-10 lg:gap-20">
    <div class="collections">
      <h1>{collection.name}</h1>
      <img src={collection.img} alt={collection.name} class="w-full h-full object-cover shadow-lg rounded-3xl" />
      <p>{collection.description}</p>
    </div>
  </main>
</Layout>