---
import nike from '../assets/img-brands/NIKE.webp'
import puma from '../assets/img-brands/PUMA.webp'
import reebok from '../assets/img-brands/REEBOK.webp'
import vans from '../assets/img-brands/VANS.webp'
---

<section class="w-11/12 mx-auto grid grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-5 lg:gap-5">
    <div class="group ">
        <div class="bg-[#F8F9FE] p-6 md:py-8 lg:py-8 flex items-center justify-center rounded-3xl shadow-lg transition-all duration-500
                group-hover:bg-primary-red">
            <img class="w-[100px] lg:w-[200px] filter-none group-hover:filter invert" src={nike.src} alt="">
        </div>
    </div>
    <div class="group">
        <div class="bg-[#F8F9FE] p-6 md:py-8 lg:py-9 flex items-center justify-center rounded-3xl shadow-lg transition-all duration-500
                group-hover:bg-primary-red">
            <img class="w-[100px] lg:w-[200px] filter-none group-hover:filter invert" src={puma.src} alt="">
        </div>
    </div>
    <div class="group">
        <div class="bg-[#F8F9FE] p-6 md:py-8 lg:py-8 flex items-center justify-center rounded-3xl shadow-lg transition-all duration-500
                group-hover:bg-primary-red">
            <img class="w-[100px] lg:w-[200px] filter-none group-hover:filter invert" src={reebok.src} alt="">
        </div>  
    </div>
    <div class="group">
        <div class="bg-[#F8F9FE] p-5 md:py-7 lg:py-7 flex items-center justify-center rounded-3xl shadow-lg transition-all duration-500
                group-hover:bg-primary-red">
            <img class="w-[100px] lg:w-[200px] filter-none group-hover:filter invert" src={vans.src} alt="">
        </div>
    </div>
    <div class="group">
        <div class="bg-[#F8F9FE] p-6 md:py-8 lg:py-8 flex items-center justify-center rounded-3xl shadow-lg transition-all duration-500
                group-hover:bg-primary-red">
            <img class="w-[100px] lg:w-[200px] filter-none group-hover:filter invert" src={nike.src} alt="">
        </div>
    </div>
    <div class="group">
        <div class="bg-[#F8F9FE] p-6 md:py-8 lg:py-8 flex items-center justify-center rounded-3xl shadow-lg transition-all duration-500
                group-hover:bg-primary-red">
            <img class="w-[100px] lg:w-[200px] filter-none group-hover:filter invert" src={nike.src} alt="">
        </div>
    </div>
    
</section>